<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello world</h1>
    <h2>this is base html</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
      perferendis tempora labore quis earum nulla praesentium voluptatum, esse
      neque distinctio consectetur aspernatur quasi accusantium ad molestiae
      temporibus aliquam fugit ullam, est ratione tenetur, rerum eligendi.
      Reprehenderit quaerat sapiente, placeat quos officia ad eaque adipisci
      excepturi eius necessitatibus voluptatum vero ullam?
    </p>
  </body>
</html>
