<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    
    <!-- اینو برای اینکه توی overflow دیدم یکی میشکلش حل شده بود اضافه کردم  -->
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/> -->
    <title>{% block title %} base {% endblock %}</title>
  </head>
  <body>
    <nav class="navba r">
      <ul>
        <li><a href="{% url 'projects'%}"> projects </a></li>
        <li><a href="{% url 'create-project' %}"> create form </a></li>
      </ul>
    </nav>
    {%block content %}
     {%endblock%}
  </body>
</html>
