{% extends 'base.html' %}

{% load static %}
{% block title %} signle project {% endblock %}
{% block content %}
      <div class="content-block">
            <h1>  signle project </h1>
      <div class="profile-image">
            <img  src="{{ project.featured_image.url }}">
      </div>
      <h2>name of project:  {{ project.title}}  </h2>
      <h2> description : </h2>
      <p> {{project.description }}  </p>
      <ul> 
            <hr /> 
            <hr />
            <li> 
                  <p>
                        id of project : {{project.id }}
                  </p>
            </li>
            <li> 
                  <p>
                        tags:
                        <ul> 
                              {%for tag in tags %}
                                    <li>{{tag}} </li>
                                    <hr />
                                    
                              {% endfor %}
                        </ul>
                  </p>
            </li>
            
      </ul>
      </div>
 {% endblock %}
